@font-face {
    font-family: "iconfont";
    src: url('/fonts/iconfont.ttf'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

@font-face{
    font-family: 'HanHei SC';
    font-weight: 300;
    src: url('/fonts/v1/HanHei-SC-thin.woff');
}

@font-face{
    font-family: 'HanHei SC';
    font-weight: 400;
    src: url('/fonts/v1/HanHei-SC-text.woff');
}

@font-face{
    font-family: 'HanHei SC';
    font-weight: 600;
    src: url('/fonts/v1/HanHei-SC-semibold.woff');
}

@font-face{
    font-family: 'SF Pro Text';
    font-weight: 300;
    src: url('/fonts/v1/sf-pro-text_light.woff2');
}

@font-face{
    font-family: 'SF Pro Text';
    font-weight: 400;
    src: url('/fonts/v1/sf-pro-text_regular.woff2');
}

@font-face{
    font-family: 'SF Pro Text';
    font-weight: 500;
    src: url('/fonts/v1/sf-pro-text_medium.woff2');
}

@font-face{
    font-family: 'SF Pro Text';
    font-weight: 600;
    src: url('/fonts/v1/sf-pro-text_semibold.woff2');
}

@font-face{
    font-family: 'SF Pro Text';
    font-weight: 700;
    src: url('/fonts/v1/sf-pro-text_bold.woff2');
}




@font-face{
    font-family: 'SF Pro Display';
    font-weight: 300;
    src: url('/fonts/v1/sf-pro-display_light.woff2');
}

@font-face{
    font-family: 'SF Pro Display';
    font-weight: 400;
    src: url('/fonts/v1/sf-pro-display_regular.woff2');
}

@font-face{
    font-family: 'SF Pro Display';
    font-weight: 500;
    src: url('/fonts/v1/sf-pro-display_medium.woff2');
}

@font-face{
    font-family: 'SF Pro Display';
    font-weight: 600;
    src: url('/fonts/v1/sf-pro-display_semibold.woff2');
}

@font-face{
    font-family: 'SF Pro Display';
    font-weight: 700;
    src: url('/fonts/v1/sf-pro-display_bold.woff2');
}




@font-face{
    font-family: 'SF Pro SC';
    font-weight: 300;
    src: url('/fonts/v1/PingFangSC-Light.woff2');
}

@font-face{
    font-family: 'SF Pro SC';
    font-weight: 400;
    src: url('/fonts/v1/PingFangSC-Regular.woff2');
}

@font-face{
    font-family: 'SF Pro SC';
    font-weight: 500;
    src: url('/fonts/v1/PingFangSC-Medium.woff2');
}

@font-face{
    font-family: 'SF Pro SC';
    font-weight: 600;
    src: url('/fonts/v1/PingFangSC-Semibold.woff2');
}